/* Color Theme Swatches in Hex */
.Copy-of-Pastels-1-hex { color: #FFCDD1; }
.Copy-of-Pastels-2-hex { color: #FFE9B6; }
.Copy-of-Pastels-3-hex { color: #F1FFC7; }
.Copy-of-Pastels-4-hex { color: #B7F4D8; }
.Copy-of-Pastels-5-hex { color: #E1C6FF; }

#header {
    text-align: center;
    color:white;
}

body {
    font-family: "Urbanist";
    letter-spacing: 0.1em;
    width: 80vw;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: normal;
    color:#222; 
    background-color: #FFCDD1;
    padding: 1em;
}

h2 {
    text-transform: uppercase;
    background-color: #E1C6FF;
    padding: 0 0.5em;
}

a {
    
}

a.button {
    color: #222;
    background-color: #FFE9B6;
    padding: 0.5em 1em;
    font-size: 1.05em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    border-radius: 2em;
}

a:hover, div a:hover {
    background-color: #E1C6FF;
    color: #222;
}

p {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

img {
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    width: 80vw;
    max-width: 500px;
}

iframe {
    display: block;
    margin: 2em auto;
}

#footer {
    text-align: center;
    margin-top: 1em;
    background-color: #222;
    color:white;
    padding: 1em;
}

div.section {
    background-color: #B7F4D8;
    color: black;
    padding: 2em 3em;
    margin-bottom: 2em;
}

div.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.topnav {
    overflow: hidden;
    background-color: #FFE9B6;
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}

.topnav #myLinks a {
    color: #222;
}

.topnav a {
    color: white;
    padding: 1em 1em;
    font-size: 1em;
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a.icon:hover {
    color: white;
}
  
.active {
    background-color: #222;
    color: white;
}