@font-face {
    font-family: "Playfair";
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Lexend";
    src: url(fonts/Lexend-VariableFont_wght.ttf);
}

#header {
    text-align: center;
    color:white;
}

body {
    color: #222;
    font-family: "Lexend";
    font-weight: 250;
    font-size: 1em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

body p {
    letter-spacing: 0.05em;
}

h1,
h2,
h3 {
    font-family: "Playfair";
    font-weight: 700;
    letter-spacing: 0.1em;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color:#222; 
    padding: 0.7em;
    border: solid 2px #222;
}

h2 {
    text-transform: uppercase;
    color: #222;
    padding: 0.5em;
    margin-top: 2em;
    border: solid 2px #222;
}

a {

}

a.button {
    color: #fff;
    background-color: #222;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-family: "Lexend";
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    border-radius: 50px;
}

a:hover, div a:hover {
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}

img {
    display: block; 
    width: 95vw;
    max-width: 1000px;
    margin: 1em auto;
}

#footer {
    text-transform: uppercase;
    border: solid 2px #222;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    color: #fff;
    background-color: #222;
}

div.section {
    padding: 20px;
    margin: 2em 0;
    background-color: #00000010;
}

div.flex-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0em; 
    column-gap: 0.5em; 
    row-gap: 0.5em;
}

/* top navigation menu BEGIN */

.topnav {
    overflow: hidden;
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}

.topnav #myLinks a {
    color: #222;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.topnav #myLinks a:hover {
    color: #fff;
    background-color: #222;
    box-shadow: none;

}

.topnav a {
    color: #fff;
    padding: 1em 1em;
    font-size: 1em;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    display: block;
    border: solid 1px #222;
    margin: 1em auto;

}
  
.topnav a.icon {
    color: white;
    background: rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a.icon:hover {
    color: #fff;
}
  
.active {
    background-color: #222;
}

/* top navigation menu END */

/* table BEGIN */

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #222;
}

th, td {
    text-align: left;
    padding: 1em;
}

th {
    color: white;
    background-color: #222;
}

tr:nth-child(even) {
    background-color: #ddd;
}

/* table END */
