#header {
    text-align: center;
    background-color: #222;
    color:white;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5em;
    column-gap: 0.5em;
    justify-content: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-weight: normal;
    color:white; 
    background-color: #222;
    padding: 1em;
}

body {
    font-family: "Urbanist";
    letter-spacing: .5;
    width: 80vw;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
    background-color: #333;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}

a:hover, div a:hover {
    background-color: #891c47;
}

p {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

img {
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    width: 80vw;
    max-width: 500px;
}

iframe {
    display: block;
    margin: 1em auto;
}

#footer {
    text-align: center;
    margin-top: 1em;
    background-color: #222;
    color:white;
    padding: 1em;
}

